---
layout: default
title: Home
---
<h1>Bienvenida</h1>
<p> Este es un grupo pequeño de estudiantes que busca un espacio para utilizar herramientas tecnológicas modernas. </p> 

<p>Buscamos hacer esto de manera independiente. Por ello nos enfocamos en el estudio autónomo. Asimismo creemos en que las herramientas tecnológicas deben ser para todos por esto apoyamos el uso de herramientas libres de código abierto.</p>

<p>La idea es iniciar tempranamente a acostumbrarnos con el uso de herramientas tecnológicas modernas que a veces se escapan del currículo universitario. </p>

<p> Para ello llevamos a cabo reuniones semanales donde compartimos tutoriales, ideas, e incluimos invitados externos. 
    Puedes ver el calendario de charlas <a href="/menu/talks.html">aquí</a></p>

<p> Este semestre vamos a reunirnos los  lunes y los miércoles de 16:00 a 18:00. Vamos a estudiar juntos del curso en línea <a href="https://computationalthinking.mit.edu/Fall20/"> Introduction to Computational Thinking</a>. Veremos de a dos lecciones por sesión con pausas para resolver dudas y discutir sobre los temas.</p> 

<p> <a href="/menu/about.html">Aquí</a> puedes conocer un poco más de nosotros y de cómo trabajamos. Si quieres conocer de qué herramientas estamos hablando puedes empezar echándole una ojeada a nuestra <a href="/menu/resources.html"> lista de recursos</a></p>

<p> ¿Quieres saber más? <a href="/menu/contact.html">¡No dudes en contactarnos!</a> </p>


<h1>Últimas entradas</h1>
{% for post in paginator.posts %}
<div class="posts">
  <h2>
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
  </h2>
  {% if post.image %}
  <div class="thumbnail-container">
    <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
  </div>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
    <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
